.Container {
  display: flex;
}
.showAll {
  max-width: 1020px;
  display: flex;
  justify-content: center;
  background-color: #1e212c;
  color: white;
  padding-top: 50px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.showAllSecond {
  padding-top: 50px;
  justify-content: space-evenly !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #1e212c;
  max-width: 1020px;
  /* flex-wrap: wrap;
  justify-content: center;
  background-color: #1e212c;
  color: white;
  padding-top: 50px;
  padding-bottom: 100px;
  justify-content: space-around;  */
}
.image {
  padding-bottom: 20px;
}
